{% extends 'base.html.twig' %}

{% block title %}Register!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/login.css') }}">
{% endblock %}

{% block body %}
    <div class="login">
        <h1>Register</h1>


        {{ form_start(registrationForm) }}

        <div class="error">{{ form_errors(registrationForm) }}</div>

        <label>
            {{ form_widget(registrationForm.email, {
                'attr': {'placeholder': 'Email', 'required': 'required'}
            }) }}
        </label>

        <label>
            {{ form_widget(registrationForm.plainPassword, {
                'attr': {'placeholder': 'Password', 'required': 'required'}
            }) }}
        </label>

        <label>
            {{ form_widget(registrationForm.agreeTerms) }}
            {{ form_label(registrationForm.agreeTerms, 'Agree to terms') }}
        </label>

        <a href="{{ path('app_login') }}">Already have an account? Log in!</a>

        {{ form_widget(registrationForm._token) }}

        <button type="submit" class="btn btn-primary btn-block btn-large">Register</button>

        {{ form_end(registrationForm) }}
    </div>
{% endblock %}